.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.1);
}

.pokemon-detail-page {
  display: flex;
  padding: 10px 40px 40px;
  background-color: white;
  width: 600px;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 45px 0px rgba(0, 0, 0, 0.13);
  border-radius: 0 0 12px 12px;
}

.pokemon-detail-page__description {
  font-size: 18px;
  text-align: center;
  width: 450px;
  color: rgb(107, 100, 100);
}

.pokemon-detail-page__title-number {
  color: rgb(107, 100, 100);
  font-size: 28px;
  padding-right: 10px;
}

.pokemon-detail-page__type-block {
  width: 100px;
  height: 35px;
  font-weight: 600;
  color: white;
  border-radius: 4px;
  box-shadow: 0px 7.5px 15px 0px rgba(0, 0, 0, 0.226),
    0px 2.5px 3px 0px rgba(0, 0, 0, 0.103);
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  margin: 5px;
}

.pokemon-detail-page__stat-graph {
  text-transform: uppercase;
  flex-direction: column;
  display: flex;
  align-items: flex-start;
  color: rgb(107, 100, 100);
  font-size: 18px;
}

.pokemon-detail-page__stat-graph__bar {
  height: 10px;
  background-color: rgb(214, 57, 57);
  border-radius: 4px;
}

.pokemon-detail-page__section-title {
  font-size: 20px;
  color: rgb(56, 52, 52);
  text-transform: uppercase;
  padding: 30px 0px 10px 0px;
}

.pokemon-detail-page__title-name {
  color: rgb(56, 52, 52);
  font-size: 28px;
  padding-bottom: 10px;
  text-transform: uppercase;
}

.pokemon-detail-page__stat-graph__text {
  width: 50px;
}

.flex-row {
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-start;
  display: flex;
}

@media screen and (max-width: 600px) {
  .pokemon-detail-page {
    width: 100%;
  }
}

.nav-bar__back-button {
  text-align: center;
  height: 50px;
  width: 50px;
  transform: rotate(180deg);
  border-radius: 50%;
  transition: all 150ms;
}

.nav-bar__back-button:hover {
  transition: all 150ms;
  background-color: rgb(175, 46, 46);
}

.nav-bar__title {
  margin: auto;
}

.navbar {
  background-color: rgb(214, 57, 57);
  color: white;
  position: relative;
  width: 100%;
  height: 75px;
  font-size: 36px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 600;
  box-shadow: 0px 7.5px 30px 0px rgba(0, 0, 0, 0.226),
    0px 2.5px 7.5px 0px rgba(0, 0, 0, 0.103);
}

@media screen and (max-width: 450px) {
  .pokemon-detail-page__description {
    width: 250px;
  }

  .navbar {
    font-size: 28px;
  }
}

.pokemon-list {
  display: flex;
  padding-top: 10px;
  background-color: white;
  max-width: 1100px;
  min-width: 320px;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  box-shadow: 0px 0px 45px 0px rgba(0, 0, 0, 0.13);
}

.pokemon-list-item {
  position: relative;
  height: 170px;
  width: 200px;
  text-transform: uppercase;
  border-radius: 6px;
  font-size: 22px;
  margin: 20px;
  box-shadow: 0px 7.5px 30px 0px rgba(0, 0, 0, 0.226),
    0px 2.5px 7.5px 0px rgba(0, 0, 0, 0.103);
  display: flex;
  padding-bottom: 20px;
  padding-top: 10px;
  flex-direction: column;
  align-items: center;
  top: 0px;
  transition: all 150ms;
}

.pokemon-list-item__number {
  color: rgb(107, 100, 100);
}

.pokemon-list-item__name {
  color: rgb(56, 52, 52);
}

.pokemon-list-item:hover {
  transition: all 150ms;
  box-shadow: 0px 12px 30px 0px rgba(0, 0, 0, 0.226),
    0px 7px 7.5px 0px rgba(0, 0, 0, 0.103);
  top: -2px;
}

.pokemon-list-item:active {
  transition: all 150ms;
  box-shadow: 0px 7.5px 30px 0px rgba(0, 0, 0, 0.226),
    0px 2.5px 7.5px 0px rgba(0, 0, 0, 0.103);
  top: 0px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  display: inline-block;
  border: 25px solid rgba(0, 0, 0, 0.1);
  border-left-color: rgb(214, 57, 57);
  border-radius: 50%;
  margin-top: 250px;
  width: 100px;
  height: 100px;
  animation: spin 1.2s linear infinite;
}
